<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/d160ea4c64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="shortcut icon" href="https://mercadolibre.github.io/ui-navigation/mercadolibre/favicon.ico">
    <title>Register</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" width="200px">
                </a>
            </div>
            <div class="formulario" action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <div class="cajon-desplegable">
            <input type="checkbox" id="check">
            <label for="check" class="burger-menu">
                <i class="fas fa-bars"></i>
            </label>
            <nav>
                <ul class="nav-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

        </div>
    </header>
    <main>
        <form class="form" action="/datos" method="POST">
            <section class="datos-basicos">
                <div class="input-hijo">
                    <input type="text" name="nombre_y_apellido" id="nombre_y_apellido" placeholder="Nombre y apellido"
                        minlength="10" required>
                </div>
                <div class="input-hijo">
                    <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre de usuario"
                        minlength="6" required>
                </div>
                <div class="input-hijo1">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="subtitulo">
                    <label for="fecha_nacimiento"> Fecha de Naciemiento</label>
                </div>
                <div class="input-hijo">
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>
                </div>
                <div class="input-hijo1">
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                </div>
            </section>
            <section class="perfilUsuario">
                <div class="subtitulo"><label for="perfil_usuario">Perfil del usuario</label></div>

                <div class="com-ven">
                    <input type="radio" name="perfil_usuario" id="perfil_usuario" value="comprador"><span>
                        Comprador</span>
                    <input type="radio" name="perfil_usuario" id="perfil_usuario" value="vender"><span> Vendedor</span>
                </div>
            </section>
            <section class="intereses">
                <div class="subtitulo"><label for="intereses">Intereses</label></div>
                <div class="int">
                <div><input type="checkbox" name="intereses" id="intereses" value="Electro"><span
                        class="intereses-texto">Electro</span> </div>
                <div> <input type="checkbox" value="Moda" name="intereses" id="intereses"><span
                        class="intereses-texto">Moda</span></div>
                <div><input type="checkbox" value="Hogar" name="intereses" id="intereses"><span
                        class="intereses-texto">Hogar</span></div>
                <div><input type="checkbox" value="Jugueteria" name="intereses" id="intereses"><span
                        class="intereses-texto">Juguetería</span></div>
                <div><input type="checkbox" value="Vida Sana" name="intereses" id="intereses"><span
                        class="intereses-texto">Vida Sana</span></div>
                    </div>
            </section>
            <section class="foto">
                <div class="subtitulo"><label for="foto_perfil">Foto de perfil</label></div>
                <div class="int"><input type="file" name="foto_perfil" id="foto_perfil"></div>
            </section>
            <section class="password">
                <div class="subtitulo-contaseña"><label for="pass">Contraseña</label></div>
                <div class="input-hijo"><input type="password" name="contraseña" id="pass"
                        placeholder="Elegí tu contraseña" minlength="8" required></div>
                <div class="input-hijo"><input type="password" name="confirmar_contraseña" id="confirm_pass"
                        placeholder="Volvé a ingresar la contraseña que elegiste" required></div>
            </section>
            <div class="boton-enviar"><button href="/home.html" type="send">Enviar</button></div>
        </form>
    </main>
    <footer>
        <div class="items">
            <div>
                <div class="iconos">
                    <i class="fas fa-credit-card"></i>
                </div>
                <section>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre
                        es seguro!
                    </p>
                </section>
            </div>
            <div>
                <div class="iconos">
                    <i class="fas fa-gift"></i>
                </div>
                <section>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un
                        beneficio de
                        Mercado Puntos.
                    </p>
                </section>
            </div>
            <div>
                <div class="iconos">
                    <i class="fas fa-user-shield"></i>
                </div>
                <section>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás
                        siempre
                        protegid@.
                    </p>
                </section>
            </div>
        </div>
        </section>
        <section class="copyright">
            <h4 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>